.detail-service {
    width: 100%;
    margin-bottom: 0 !important;
    margin: 12rem 5rem;
}

.detail-service > div:nth-last-child(2) {
    margin-top: 2.6rem;
    height: 50vh;
    overflow: auto;
}

.detail-service > div:nth-last-child(1) {
    margin-top: 2rem;
    display: flex;
}

.detail-service > div:nth-last-child(1) > img {
    margin-right: 8rem;
}

.detail-service > div:nth-last-child(1) > div {
    margin-right: 3rem;
    text-align: center;
    cursor: pointer;
}

.detail-service > div:nth-last-child(1) > div:hover > p {
    color: #FFE81B;
    font-size: 1rem;
}

.detail-service > div:nth-last-child(1) > div > p {
    color: #fff;
    font-size: 1rem;
}

.detail-service > div:nth-last-child(3) {
    margin-top: 2.5rem;
}

.detail-service > div > div > p {
    color: #fff;
    font-size: 1.2rem;
}

.detail-service > div:nth-last-child(2) > div:first-child {
    margin-bottom: 2rem;
}

/* @media (max-width: 1600px) {
    .detail-service > div:nth-last-child(3) {
        margin-top: 1.5rem;
    }

    .detail-service > div:nth-last-child(1) {
        margin-top: 1.5rem;
        display: flex;
    }
} */