.root {
  display: flex;
  height: 100vh;
  margin: 0 3.125rem;
}

.root-intro > div {
  flex: 1;
}

.root > div {
  flex: 1;
}

.main-content {
  height: 100vh;
}

.main-content > nav {
  position: fixed;
  width: 100%;
}

.main-content-intro > nav {
  position: fixed;
  width: 100%;
}

@media (max-width: 37.5em) {
  .root {
    flex-direction: column;
  }
}
