.content-intro > div {
  display: flex;
  height: 100%;
}

.content-intro > div:nth-child(2) {
  display: flex;
  justify-content: center;
  height: 5.5rem;
}

.content-intro > div:nth-child(2) > img {
  width: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 1rem;
}

.content-intro > div > div:first-child {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding-left: 11rem;
  padding-bottom: 5rem;
  width: 50%;
}

.content-intro > div > div:nth-child(2) {
  width: 50%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.square {
  width: 10rem;
  height: 20rem;
  background-color: yellow;
  border-radius: 0.6rem;
}

.btn-start {
  cursor: pointer;
  background-color: #ffcf14;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
  width: 24.875rem;
  height: 5.938rem;
  border-radius: 5rem;
  transition: all 0.3s;
}

.btn-start:hover {
  transform: translate3d(0, -0.3rem, 0);
}
