* {
  animation: fade-in 0.5s ease-in-out;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#app {
  height: 100vh;
  width: 100vw;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3.625rem;
  line-height: 3.85rem;
  color: #fff;
}

body {
  background-color: #e33b4d;
}

h2 {
  font-size: 3.75rem;
  line-height: 3.3rem;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.42);
  border-radius: 0.875rem;
}

:root {
  --error-color: #d0021b;
  --light-text-color: #9e9e9e;
  --primary-color: #6b449a;
  --text-color: #424242;
  --ultra-light-text-color: #e0e0e0;
  font-size: 16px;
}

@media only screen and (max-width: 120em) {
  :root {
    font-size: calc(100vw * 16 / 1920);
  }
}

@media (max-width: 37.5em) {
  #app {
    background-position: center;
  }
}
